[submodule "toolchain/aarch64-linux-android-8.x"]
	path = toolchain/aarch64-linux-android-8.x
	url = https://bitbucket.org/matthewdalex/aarch64-linux-android-8.x.git
[submodule "toolchain/aarch64-linux-android-4.9"]
	path = toolchain/aarch64-linux-android-4.9
	url = https://bitbucket.org/matthewdalex/aarch64-linux-android-4.9.git
